@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @import url(_vars.css);
}

@layer base {
    html,
    body,
    :root {
        height: 100vh;
    }
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
}
